
body {
    background: yellow;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    font-family: 'Oldenburg', cursive;
    font-size: 1.5rem;
    color: white;
}

h3 {
  display: none;
  color: black;
  text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    /* max-width: 90%; */
}

.game-result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% 0%;
    background: black;
    border-style: dashed;
    border-color: grey;
    padding: 2% 0;
}
canvas {
    background: black;
    max-width: 100%;
}

.nonupcontrols {
  display: none;
}
  
  .control {
    width: 75px;
    background-color: black;
    border-radius: 10px;
  }

  td {
    width: 50px;
    height: 40px;
    position: relative;
    margin: 0;
    border-style: dashed;
    border-color: grey;
    border-width: 3px;
  }
  
  
  i {
    font-size: 60px;
    color: white;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  table {
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
  }

@media only screen and (max-width: 700px) {

  body {
    font-size: 1rem;
  }

  h3{
    display: block;
  }

  .game-container {
      display: flex;
      flex-direction: column;
      max-width: 90%;
  }

  .nonupcontrols {
    display: block;
  }


  }